* { padding: 0; margin: 0; }
.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.body {
    font-size: 12px;
}
.body-2 {
    font-size: 14px;
}
.text-center {
    text-align: center;
}
.inline-block {
    display: inline-block;
}